{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Music
{% endblock title_name %}
{% block import_source %}
{% endblock import_source %}
{% block body_block %}
  <!-- logo -->
  <center>
  <div class="center">
    <h1>Music Recommender</h1>
    <hr>
      <p>
      This is National Tsing Hua University Online Judge, an ACM-like
      online judge designed for training purposes and a platform of
      contest. You may utilize this site by the links on the side bar and
      top-right corner. Each of them will redirect you to a page with
      the following functions.
    </p>
  </div>
  </center>
{% endblock body_block %}
