{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Music Recommender
{% endblock title_name %}
{% block import_source %}
{% endblock import_source %}
{% block body_block %}
  <center>
    <div style="width: 60%;">
      <h1><p>Music Recommender</p></h1>
      <hr style="height:5px;"">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input class="form-control" id="focusedInput" name="link" type="text" placeholder="Dcard link">
        </div>
      </form>
      {% if article %}
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <h2>{{ article.title }}</h2>
              <br>
              <div><p align="left">{{ article.content|linebreaksbr }}</p></div>
            </div>
          </div>
          <div class="col-md-6" align="left">
              {% for song in song_list %}
              <div>
                <h4>專輯: {{ song.aname }}&nbsp&nbsp&nbsp歌名:{{ song.sname }}&nbsp&nbsp&nbsp歌手:{{ song.singer }}</h4><br>
                <p class="lyrics" data-toggle="modal" data-target="#myModal" l="{{ song.lyrics|linebreaks }}">{{ song.lyrics|linebreaksbr|truncatechars:100 }}</p>
                <hr>
              </div>
              {% endfor %}
          </div>
        </div>

      {% elif article == False %}
        <h3>error link<h3>
      {% else %}
      {% endif %}
    </div>
  </center>
  <script type="text/javascript">
    $( ".lyrics" ).click(function() {
      $( "#lyrics" ).html(this.getAttribute("l"));
    });
  </script>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p id="lyrics" style="font-size:18px;"></p>
        </div>
      </div>
    </div>
  </div>
{% endblock body_block %}
