{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Music Recommender
{% endblock title_name %}
{% block import_source %}
{% endblock import_source %}
{% block body_block %}
  <center>
    <div style="width: 60%">
      <h1>Music Recommender</h1>
      <hr>
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input class="form-control" id="focusedInput" name="link" type="text" placeholder="Dcard link">
        </div>
      </form>
      {% if article_content %}
        {{ article.title }}
      {% elif article_content == False %}
        fuck
      {% else %}
      {% endif %}
    </div>
  </center>
{% endblock body_block %}
