{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Music Recommender
{% endblock title_name %}
{% block import_source %}

    <script>

      $(function(){

        $(".lyrics").click(function(){
          var info = this.getAttribute("info")
          console.log(info);
          /*
          url = "https://www.googleapis.com/youtube/v3/search?part=snippet&q="+info+"&type=video&key={{api}}&maxResults=3&order=viewCount"

          res = testAjax(url);
          console.log(res);
          alert(typeof(res));
          for(var key in res) {
              var value = res.key;
              alert(value);
          }
          */

          var request = gapi.client.youtube.search.list({
              part: "snippet",
              type: "vedio",
              q: info,
              //q: encodeURIComponent(""),
              maxResults: 3,
              //order: "viewCount",
          });
          request.execute(function(response){
              console.log(response);
              vid = response.items[0].id.videoId;
              //alert(vid);
              $("#yt").attr("src", "https://www.youtube.com/embed/" + vid);
          });

        });
      });
      function testAjax(api_url) {
        return $.ajax({
            url: api_url
        });
      }

      function init(){
        gapi.client.setApiKey("{{api}}");
        gapi.client.load("youtube", "v3", function(){
          console.log("load api successfully");
        });
      }

    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>

{% endblock import_source %}
{% block body_block %}
  <center>
    <div style="width: 60%;">
      <h1><p>Music Recommender</p></h1>
      <hr style="height:5px;"">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input class="form-control" id="Input" name="link" type="text" placeholder="Dcard link">
        </div>
      </form>
      {% if article %}
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <h2>{{ article.title }}</h2>
              <br>
              <div><p align="left">{{ article.content|linebreaksbr }}</p></div>
            </div>
          </div>
          <div class="col-md-6" align="left">
              {% for song in song_list %}
              <div>
                <h4>專輯: {{ song.aname }}&nbsp&nbsp&nbsp歌名:{{ song.sname }}&nbsp&nbsp&nbsp歌手:{{ song.singer }}</h4><br>
                <p class="lyrics" data-toggle="modal" data-target="#myModal" l="{{ song.lyrics|linebreaks }}" info="{{song.singer}} {{song.sname}}">{{ song.lyrics|linebreaksbr|truncatechars:100 }}</p>
                <hr>
              </div>
              {% endfor %}
          </div>
        </div>

      {% elif article == False %}
        <h3>error link<h3>
      {% else %}
      {% endif %}
    </div>
  </center>
  <script type="text/javascript">
    $( ".lyrics" ).click(function() {
      $( "#lyrics" ).html(this.getAttribute("l"));
    });
  </script>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            <iframe id="yt" width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
          </div>
          <p id="lyrics" style="font-size:18px;"></p>
        </div>
      </div>
    </div>
  </div>

{% endblock body_block %}
